{% load i18n %}{% autoescape off %}
{% blocktrans %}Bạn đã yêu cầu đặt lại mật khẩu cho tài khoản của mình tại {{ site_name }}.{% endblocktrans %}

{% trans "Vui lòng truy cập trang sau và chọn mật khẩu mới:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Tên người dùng của bạn, trong trường hợp bạn quên:" %} {{ user.get_username }}

{% trans "Cảm ơn bạn đã sử dụng trang web của chúng tôi!" %}

{% blocktrans %}Đội ngũ {{ site_name }}{% endblocktrans %}

{% endautoescape %}
